<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
    </head>
    <body class="container" >
        <div id="posts-container">
            <ul id="posts" data-bind="foreach : redditPosts">
                <li data-bind="attr: {class : $parent.getRowClass($index)}">
                    <a class="post" data-bind="click: $parent.toggleSummary">
                        <i class="icon-play"></i>
                        <span class="post-title" data-bind="text: title"></span>
                    </a>
                    <a class="btn btn-small">
                        <i class="icon-user"></i>
                        <span data-bind="text: author"></span>
                    </a>
                    <a class="reddit-button btn btn-small" data-bind="attr: {href: permalink}" target="_blank">
                        <img src="http://www.redditstatic.com/spreddit5.gif">
                    </a>
                    <a class="btn btn-small" data-bind="click : $parent.findIns">
                        <i class="icon-check"></i>
                        <span> Who's in?</span>
                    </a>
                    <div class="summary" data-bind="slideVisible: showSummary"></div>
                    <div class="in-list" data-bind="foreach : ins">
                        <a class="btn btn-small" >
                            <i class="icon-male green"></i>
                            <span data-bind="text : author"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
        <script type="text/javascript" src="/javascripts/bindings.js"></script>
    </body>
</html>