<!DOCTYPE html>
<html>
    <head>
        <title>LSC calendar</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable = no" />

        <link rel="stylesheet" href="/stylesheets/normalize.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="stylesheet" href="/stylesheets/font-awesome.css" />

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script data-main="/javascripts/main" src="/javascripts/require.js"></script>

    </head>
    <body class="container" >
		<div id="posts-calendar-container">
			<ul id="days" data-bind="foreach : dateList">
				<li>
					<a data-bind="click : $parent.showEventsOnDay">
						<span class="day" data-bind="text : day"> </span>
						<span class="date" data-bind="text : date"> </span>
						<div class="event-marker-container" data-bind="foreach: events">
							<span class="event-marker icon-circle"></span>
						</div>
					</a>
				</li>
			</ul>
		</div>

        <div id="posts-list-container">
            <ul id="posts" data-bind="foreach : redditPosts">
                <li data-bind="attr: {class : $parent.getRowClass($index), id : id}">
                    <a class="post" data-bind="click: $parent.toggleSummary">
                        <!--<i class="icon-play"></i>-->
                        <h4 class="post-title" data-bind="html: title"></h4>
                        <a class="btn btn-small show-map" data-bind="visible : showMapButton, click : $parent.showMap">
                            <i class="icon-map-marker"></i>
                        </a>
                    </a>

                    <div class="btn-group event-actions">
                        <a class="btn">
                            <i class="icon-user"></i>
                            <span data-bind="text: author"></span>
                        </a>
                        <a class="reddit-button btn" data-bind="attr: {href: permalink}" target="_blank">
                            <img src="http://www.redditstatic.com/spreddit5.gif">
                        </a>
                        <a class="btn" data-bind="click : $parent.findIns">
                            <i class="icon-check"></i>
                            <span>Who's in?</span>
                        </a>
                    </div>

                    <div class="in-list" data-bind="foreach : ins">
                        <a class="btn btn-small">
                            <i class="icon-male" data-bind="css: status"></i>
                            <span data-bind="text : author"></span>
                        </a>
                    </div>

                    <div class="summary" data-bind="slideVisible : showSummary"></div>
                </li>
            </ul>
        </div>
		
		<div id="loading-screen">
			<div id="spinner" class="icon-spinner icon-spin icon-large"></div>
		</div>

        <div id="map-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="error"> Sorry, your location could not be found.</div>
            <div id="map-container"></div>
        </div>

        <!--<script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/iscroll.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/underscore-min.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/knockout-2.3.0.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/gmaps.js"></script>-->
        <!--<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>-->

        <!--<script type="text/javascript" src="/javascripts/bindings.js"></script>-->
    </body>
</html>