.container{
    padding: 0;
}

ul{
    list-style: none;
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.ui-loader{
    display: none;
}

a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none}

li.odd{
    background-color: #f7f7f9;
}

.green{
    color: green;
}
#posts-calendar-container{
    overflow: hidden;
    position: relative;
    padding-bottom: 8px;

    #days{
        width: 3120px;

        li {
            float: left;
            border: 1px solid #cccccc;
            border-color: #e6e6e6 #e6e6e6 #bfbfbf;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            border-bottom-color: #b3b3b3;
            height: 70px;
            width: 50px;
            position: relative;

            a{
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
                background-color: #e6e6e6;
                background-color: #f5f5f5;
                background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
                background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
                background-repeat: repeat-x;


                .day{
                    width: 100%;
                    line-height: 12px;
                    display: block;
                    text-align: center;
                    font-weight: bolder;
                }

                .month{
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: bolder;
                }

                .event-marker-container{
                    margin-top: 7px;
                    padding: 3px;
                    text-align: center;
                    line-height: 7px;

                    .event-marker{
                        color: #ff4500;
                        margin: 1px;
                        font-size: 8px;
                    }
                }
            }

        }
    }
}

i{
    color: #9494FF;
}


#posts-list-container{
    overflow-x: hidden;

    .post-container{
        padding: 30px 10px;
        box-shadow: 0 8px 6px -6px black;
        border-bottom: 1px solid black;
        margin-bottom: 3px;

        .post{
            display: block;
            padding-bottom: 15px;


            .post-title{
                margin-left: 10px;
                line-height: 20px;
            }

        }

        .reddit-button img {
            height: 2.3ex;
            vertical-align: middle;
            margin-top: 1px;
        }

        .reddit-button span {
            margin-left:1px;
        }

        .summary{
            margin-top: 25px;
            overflow-y: hidden;
        }

        .in-list{
            margin-top: 20px;
        }

        .btn-small{
            margin: 0 5px;
        }

        .btn-small.first{
          margin-left: 24px
        }
    }
}

.transtitionable{
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
}

.closed {
    max-height: 0;
    overflow: hidden;
}

.open{
    max-height: 1000px;
}

