html,
body {
  overflow: hidden;
  height: 100%;
}
.container {
  padding: 0;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.ui-loader {
  display: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
li.odd {
  background-color: #f7f7f9;
}
.green {
  color: green;
}
#posts-calendar-container {
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  background-color: white;
  z-index: 10;
}
#posts-calendar-container #days {
  width: 3120px;
}
#posts-calendar-container #days li {
  float: left;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  height: 70px;
  width: 50px;
  position: relative;
}
#posts-calendar-container #days li a {
  background-color: #e6e6e6;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
}
#posts-calendar-container #days li a .day,
#posts-calendar-container #days li a .month {
  display: block;
  text-align: center;
  font-weight: bolder;
  background-color: #9494ff;
  color: white;
  width: 100%;
}
#posts-calendar-container #days li a .day {
  line-height: 12px;
  padding-bottom: 5px;
}
#posts-calendar-container #days li a .event-marker-container {
  margin-top: 7px;
  padding: 3px;
  text-align: center;
  line-height: 7px;
}
#posts-calendar-container #days li a .event-marker-container .event-marker {
  color: #9494ff;
  margin: 1px;
  font-size: 8px;
}
i {
  color: orangered;
}
#posts-list-container {
  overflow: hidden;
  height: 100%;
}
#posts-list-container #posts {
  height: auto;
  padding-bottom: 100px;
}
#posts-list-container #posts .post-container {
  padding: 10px 10px;
  color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  position: relative;
}
#posts-list-container #posts .post-container .show-map {
  position: absolute;
  right: 5px;
  top: 30px;
}
#posts-list-container #posts .post-container .post {
  display: inline-block;
  padding-bottom: 15px;
}
#posts-list-container #posts .post-container .post .post-title {
  line-height: 20px;
  padding-right: 25px;
}
#posts-list-container #posts .post-container .event-actions {
  display: block;
  width: 100%;
}
#posts-list-container #posts .post-container .event-actions .btn {
  border-radius: 0;
}
#posts-list-container #posts .post-container .event-actions .reddit-button img {
  height: 2.3ex;
  vertical-align: middle;
  margin-top: 1px;
}
#posts-list-container #posts .post-container .event-actions .reddit-button span {
  margin-left: 1px;
}
#posts-list-container #posts .post-container .in-list {
  margin-top: 20px;
}
#posts-list-container #posts .post-container .in-list .btn-small {
  margin-top: 5px;
  margin-right: 3px;
}
#posts-list-container #posts .post-container .summary {
  margin-top: 25px;
  overflow: hidden;
}
#loading-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: 20;
  background-color: black;
}
#loading-screen #spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 150px;
  margin-top: -75px;
  margin-left: -75px;
  z-index: 30;
  color: white;
}
#map-modal {
  padding: 10px;
}
#map-modal .error {
  display: none;
  background-color: #f2dede;
  font-weight: bold;
  padding: 5px;
}
#map-modal #map-container {
  display: block;
  height: 300px;
  width: 100%;
  background-color: white;
}
